* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.md text eol=lf
*.html text eol=lf
THIRD_PARTY_LICENSES.html -whitespace linguist-generated=true
*.hbs text eol=lf
*.yml text eol=lf
*.rs text eol=lf
*.toml text eol=lf
*.lock text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf
*.cmd text eol=crlf
